In [54]:
#Dependencies
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
from setuptools import setup, find_packages
import openweathermapy.core as owm
from pprint import pprint
from citipy import citipy
#config
from config import api_key

In [55]:
api_key = "a9d9051f41b69e6ee57e6f70a307fd61"
url = "http://api.openweathermap.org/data/2.5/weather?appid=a9d9051f41b69e6ee57e6f70a307fd61"

In [56]:
# Create an open list for coordinates and cities
lat_lng = []
cities = []
# # Open List to append for Cities and Coordinates

# cities = []
# coordinates = []
#Random Data Points
lat = np.random.uniform(low=-90.000, high=90.000, size=2000)
lng = np.random.uniform(low=-180.000, high=180.000, size=2000)
# lat_lng = zip(lat,lng)
# data = owm.find_cities_by_geo_coord(lat_lng, 2000)
# #Identify nearist city for each lat,lng combo
# city = citipy.nearest_city(lat[0],lng[0]).city_name
# #If city is unique, add to city list
# if city not in cities:
#     cities.append(city)
# lat = np.random.rand(500)*np.random.choice([90,-90])
# lng = np.random.rand(500)*np.random.choice([180,-180])
# coord = zip(lat, lng)
# location = coord
# data = owm.find_cities_by_geo_coord(location, 500)
# # def main():
for i in range(0, len(lat)):
    lat_lng.append((lat[i], lng[i]))
for coordinate_pair in lat_lng:
    lat, lon = coordinate_pair
    cities.append(citipy.nearest_city(lat, lon))
# owm.BASE_URL

#Create a base DataFrame of Cities
cities_DF = pd.DataFrame(cities)
cities_DF["City Name"]= ""
cities_DF["Country Code"] = ""
cities_DF.head()

                                                   0 City Name Country Code
0  <citipy.citipy.City object at 0x0000024D69D5AF28>
1  <citipy.citipy.City object at 0x0000024D69D9AB00>
2  <citipy.citipy.City object at 0x0000024D68F3DC50>
3  <citipy.citipy.City object at 0x0000024D69015748>
4  <citipy.citipy.City object at 0x0000024D69FB56D8>

In [57]:
#Find City Name and Country Code using Pandas iLoc
for index, row in cities_DF.iterrows():
    row["City Name"] = cities_DF.iloc[index,0].city_name
    row["Country Code"] = cities_DF.iloc[index,0].country_code
print(cities_DF)
#Use only uniques, eliminate duplicates
cities_DF.drop_duplicates(["City Name", "Country Code"], inplace=True)
cities_DF.reset_index(inplace=True)

#Delete unused columns
del cities_DF[0]
del cities_DF["index"]

cities_DF.head()

                                                      0        City Name  \
0     <citipy.citipy.City object at 0x0000024D69D5AF28>          toliary
1     <citipy.citipy.City object at 0x0000024D69D9AB00>        ugoofaaru
2     <citipy.citipy.City object at 0x0000024D68F3DC50>           yulara
3     <citipy.citipy.City object at 0x0000024D69015748>  arraial do cabo
4     <citipy.citipy.City object at 0x0000024D69FB56D8>           atuona
5     <citipy.citipy.City object at 0x0000024D6A624208>      provideniya
6     <citipy.citipy.City object at 0x0000024D695D5EB8>           omboue
7     <citipy.citipy.City object at 0x0000024D6933E048>     ponta do sol
8     <citipy.citipy.City object at 0x0000024D6984C7B8>    palabuhanratu
9     <citipy.citipy.City object at 0x0000024D691A5A58>      tuktoyaktuk
10    <citipy.citipy.City object at 0x0000024D6A4B3358>    belushya guba
11    <citipy.citipy.City object at 0x0000024D6AC86048>          isangel
12    <citipy.citipy.City object at 0x0000024D69015748>  arraial do cabo
13    <citipy.citipy.City object at 0x0000024D69FBA240>          mataura
14    <citipy.citipy.City object at 0x0000024D68F00668>          ushuaia
15    <citipy.citipy.City object at 0x0000024D69F53D68>          ahipara
16    <citipy.citipy.City object at 0x0000024D6A4DE240>       chokurdakh
17    <citipy.citipy.City object at 0x0000024D6A708198>             abha
18    <citipy.citipy.City object at 0x0000024D69F46BA8>           terrak
19    <citipy.citipy.City object at 0x0000024D6A64A0B8>   severo-kurilsk
20    <citipy.citipy.City object at 0x0000024D68F24160>           albany
21    <citipy.citipy.City object at 0x0000024D6A5525F8>       kolpashevo
22    <citipy.citipy.City object at 0x0000024D6A693A58>         tlyarota
23    <citipy.citipy.City object at 0x0000024D69EBA2E8>            rundu
24    <citipy.citipy.City object at 0x0000024D6A3D8F98>            ponor
25    <citipy.citipy.City object at 0x0000024D69FBAB70>          rikitea
26    <citipy.citipy.City object at 0x0000024D69FBAB70>          rikitea
27    <citipy.citipy.City object at 0x0000024D698284A8>            ambon
28    <citipy.citipy.City object at 0x0000024D69215A90>             aksu
29    <citipy.citipy.City object at 0x0000024D69190B00>    saint anthony
...                                                 ...              ...
1970  <citipy.citipy.City object at 0x0000024D6A5BBE80>      mys shmidta
1971  <citipy.citipy.City object at 0x0000024D6A733710>      barentsburg
1972  <citipy.citipy.City object at 0x0000024D69EE1B00>            siuna
1973  <citipy.citipy.City object at 0x0000024D69203E10>     punta arenas
1974  <citipy.citipy.City object at 0x0000024D69072E48>         imbituba
1975  <citipy.citipy.City object at 0x0000024D69FBE828>         lorengau
1976  <citipy.citipy.City object at 0x0000024D6AC9D0F0>         hermanus
1977  <citipy.citipy.City object at 0x0000024D6933E390>       sao filipe
1978  <citipy.citipy.City object at 0x0000024D6966ECF8>         tasiilaq
1979  <citipy.citipy.City object at 0x0000024D6A53CA58>         khatanga
1980  <citipy.citipy.City object at 0x0000024D69D5ADA0>        taolanaro
1981  <citipy.citipy.City object at 0x0000024D6A292B00>    ponta delgada
1982  <citipy.citipy.City object at 0x0000024D6A617DA0>       porosozero
1983  <citipy.citipy.City object at 0x0000024D69F94710>          chicama
1984  <citipy.citipy.City object at 0x0000024D6A6933C8>            tiksi
1985  <citipy.citipy.City object at 0x0000024D69D47B38>           mizdah
1986  <citipy.citipy.City object at 0x0000024D6AC5E6D8>             chuy
1987  <citipy.citipy.City object at 0x0000024D6A710D30>            yirol
1988  <citipy.citipy.City object at 0x0000024D69F62A20>         ruatoria
1989  <citipy.citipy.City object at 0x0000024D68F36780>        nhulunbuy
1990  <citipy.citipy.City object at 0x0000024D68F266D8>        busselton
1991  <citipy.citipy.City object at 0x0000024D69275BE0>         yangshan
1992  <citipy.citipy.City object at 0x0000024D69F55160>            bluff
1993  <citipy.citipy.City object at 0x0000024D69F6FC50>           burica
1994  <citipy.citipy.City object at 0x0000024D6A2A8748>      kloulklubed
1995  <citipy.citipy.City object at 0x0000024D6A2C2E48>   saint-philippe
1996  <citipy.citipy.City object at 0x0000024D69133470>         bokspits
1997  <citipy.citipy.City object at 0x0000024D69FBA240>          mataura
1998  <citipy.citipy.City object at 0x0000024D68F00668>          ushuaia
1999  <citipy.citipy.City object at 0x0000024D69F251D0>          hellvik

     Country Code
0              mg
1              mv
2              au
3              br
4              pf
5              ru
6              ga
7              cv
8              id
9              ca
10             ru
11             vu
12             br
13             pf
14             ar
15             nz
16             ru
17             sa
18             no
19             ru
20             au
21             ru
22             ru
23             na
24             ro
25             pf
26             pf
27             id
28             cn
29             ca
...           ...
1970           ru
1971           sj
1972           ni
1973           cl
1974           br
1975           pg
1976           za
1977           cv
1978           gl
1979           ru
1980           mg
1981           pt
1982           ru
1983           pe
1984           ru
1985           ly
1986           uy
1987           sd
1988           nz
1989           au
1990           au
1991           cn
1992           nz
1993           pa
1994           pw
1995           re
1996           bw
1997           pf
1998           ar
1999           no

[2000 rows x 3 columns]

         City Name Country Code
0          toliary           mg
1        ugoofaaru           mv
2           yulara           au
3  arraial do cabo           br
4           atuona           pf

In [58]:
print(lat_lng[0])
print(cities[0])

(-23.770796094604563, 42.434206291495855)
<citipy.citipy.City object at 0x0000024D69D5AF28>

In [59]:
#Create a Dataframe displaying Coordinates
coordinates_df = pd.DataFrame({"Lat": lat,
                              "Lon": lng})
coordinates_df.head()

         Lat         Lon
0  56.615927   42.434206
1  56.615927   67.249795
2  56.615927  128.980259
3  56.615927  -19.600435
4  56.615927 -120.876257

In [45]:
#Create a Datafram including:
#Temp(F)
#Humidity (%)
#Cloudiness (%)
#Wind Speed (mph)
coord_df = coordinates_df
coord_df["Temp(F)"] = ""
coord_df["Humidity(%)"]= ""
coord_df["Cloudiness(%)"] = ""
coord_df["Wind Speed (MPH)"] = ""
coord_df.head()

       Lat         Lon Temp(F) Humidity(%) Cloudiness(%) Wind Speed (MPH)
0  2.24939  155.252776
1  2.24939   71.609474
2  2.24939  167.661489
3  2.24939 -140.727761
4  2.24939   89.332273

In [ ]:
#Append cities_DF to include coord_df

In [22]:
#Create a dictionary of information needed/intested in
units = "Imperial"
settings = {"units": "metric", "appid": api_key}
#Open Necessary Files
# + "&q=" + city
url = "http://api.openweathermap.org/data/2.5/weather?"
city = "London"
api_key = "a9d9051f41b69e6ee57e6f70a307fd61"
# Build query URL
query_url = url + "appid=" + api_key + "&q=" + city
print(query_url)

http://api.openweathermap.org/data/2.5/weather?appid=a9d9051f41b69e6ee57e6f70a307fd61&q=London

In [8]:
#Get Weather Data
weather_response = requests.get(query_url)
weather_json = weather_response.json()

print(json.dumps(weather_json, sort_keys=True, indent=4))
#Pretty Print File
# pprint(weather_json)
print(url)

{
    "base": "stations",
    "clouds": {
        "all": 48
    },
    "cod": 200,
    "coord": {
        "lat": 51.51,
        "lon": -0.13
    },
    "dt": 1521580800,
    "id": 2643743,
    "main": {
        "humidity": 64,
        "pressure": 1033,
        "temp": 276.24,
        "temp_max": 277.15,
        "temp_min": 275.15
    },
    "name": "London",
    "sys": {
        "country": "GB",
        "id": 5091,
        "message": 0.0057,
        "sunrise": 1521525688,
        "sunset": 1521569697,
        "type": 1
    },
    "visibility": 10000,
    "weather": [
        {
            "description": "scattered clouds",
            "icon": "03n",
            "id": 802,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 350,
        "speed": 2.1
    }
}
http://api.openweathermap.org/data/2.5/weather?

In [12]:
#try geting current weather
current_weather = owm.get_current("Paris",**settings)
# pprint(f"{current_weather}")
pprint(current_weather)

{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 48.86, 'lon': 2.35},
 'dt': 1521581400,
 'id': 2988507,
 'main': {'humidity': 69,
          'pressure': 1029,
          'temp': 2.87,
          'temp_max': 4,
          'temp_min': 2},
 'name': 'Paris',
 'sys': {'country': 'FR',
         'id': 5610,
         'message': 0.005,
         'sunrise': 1521525116,
         'sunset': 1521569073,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 360, 'speed': 3.6}}

In [14]:
#Data Retrieval
print("Data Retrieval")
print("--------------------------")

for index, row in coord_df.iterrows():
    print(index, row, row["City Name"], row["Country Code"])

Data Retrieval
--------------------------

KeyError: 'City Name'

In [ ]:
#Using Randomely selected (min) 500 unique cities based on
#Latitude and Longitude
#Perform a weather check on each city using successive API Calls
#Include a print log of each city as it's being processed
#With City Number, City Name, Requested URL
#Save Both a CSV of all data retrieved and png images
#For each scatter plot
#Use Matplotlib and Seaborn Libraries
#Include 3 observable trends
#Proper plot labes (Plot Titles with Analysis dates)
#Axes lables
#Exported markdown README.md
#Build a series of scatter plots
#Temp(F) v. Latitude
#Humidity (%) v. Latitude
#Cloudiness (%) v. Latitude
#Wind Speed (mph) v. Latitude